* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.hide {
  display: none;
}

body {
background-color: #af69cd;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 35px;
}

.border {
  background-color: #4b0081;
  margin: 35px 35pxpx 35px 35px;
  padding: 25px;
}

.textButton {
  background-color: #6b7787;
  padding: 5px 25px;
}

.buttonHome {
  background-color: #4b0081;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 30px;
  padding: 40px 0;
  text-align: center;
  color: #4b0081;
}

.buttonQuiz {
  background-color: #4b0081;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 30px;
  padding: 40px 0;
  text-align: center;
  color: #4b0081;
}

.speaker {
  background-color: #4b0081;
  width: 150px;
  height: 300px;
  border-radius: 5%;
  margin-top: 50px;
  padding: 40px 0;
  text-align: center;
  color: white;
}

#home {
  background-image: url(../assets/ski.jpg);
  background-size: 100%;
  width: 1200px;
  height: 620px;
  border-radius: 10%;
  font-size: 4em;
  font-family: 'Simpsonfont', sans-serif;
  color: yellow;
  text-align: center;
}

#quiz {
  background-image: url(../assets/sofa.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1200px;
  height: 620px;
  border-radius: 10%;
  font-size: 2em;
  font-family: 'Simpsonfont', sans-serif;
  color: yellow;
  text-align: center;
}

#results {
  background-image: url(../assets/sofa.jpg);
  width: 1200px;
  height: 620px;
  border-radius: 10%;
  font-size: 2em;
  font-family: 'Simpsonfont', sans-serif;
  color: yellow;
  text-align: center;
  padding: 30px 0 0 0;
}

.controlAudio {
  margin-top: 105px;
}

.correct {
    background-color: yellow;
  }
  
  .wrong {
    background-color: gray;
  }
  